from shared import config as CFG
from agents.song import *
{%- for note in notes %}
from agents.n_{{ note }} import *
{%- endfor %}

import time

from spade import quit_spade

if __name__ == "__main__":

    # init songs
    # s = []
    # for i in range(CFG.no_songs):
    #     jid1 = "s_" + str(i) + CFG.XMPP_SERVER
    #     passwd1 = "."
    #     s.append(SongAgent(jid1, passwd1) )
    #     s[i].start().result()

    # init notes
    {%- for note in notes %}
    n_{{ note }} = Note_{{ note }}("n_{{note}}"+CFG.XMPP_SERVER, ".")
    n_{{ note }}.start().result()
    {%- endfor %}

    # FLAG for start receiving messages on song agents?

    while True:
        try:
            # falta poner wait de songs
            time.sleep(1)
        except KeyboardInterrupt:
            break
    quit_spade()
